<%- include('./partials/header.ejs') -%>
<%- include('./partials/chore.ejs') -%>
<link rel="stylesheet" href="stylesheets/f-dashboard.css" />

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-center"> Schedule your lecture</h2>
      </div>
      <div class="modal-body">
        <form method="post" action="/f-dashboard">
          <label for="email" class="mt-2">Your email</label>
          <input
            class="form-control"
            name="faculty_mail"
            placeholder="Enter your mail"
          />
          <label for="name" class="mt-2">Lecture name</label>
          <input
            class="form-control"
            name="name"
            placeholder="lecture name"
          />
          <label for="time" class="mt-2">Lecture start time</label>
          <input
            class="form-control"
            name="sttime"
            type="time"
            placeholder="lecture start time"
          />
          <label for="time" class="mt-2">Lecture end time</label>
          <input 
             class="form-control"
             name="endtime"
             type="time"
             placeholder="lecture end time""
             />
          <label for="date" class="mt-2"> Lecture date</label>
          <input 
              class="form-control"
              name="lecturedate"
              type="date"
              placeholder="Enter date of lecture"
              />
              <label for="id">Share this id with your students</label>
              <input type="text" name="lecture_id" id="lecture_id">
          <button class="btn btn-primary" type="submit">Schedule</button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
<div class="container">
<button type="button" class="btn schedule btn-lg doubt-button" data-toggle="modal" data-target="#myModal" onclick="getId()">Schedule your lecture here </button>
</div>

<% lectureInf.forEach((data)=>{ %>
  <div class="container">
    <div class="card mt-5">
      <h5 class="card-header">Lecture: <%= data.lecture_name %></h5>
      <div class="card-body">
        <h5 class="card-title">Timing: <%= data.st_time%> - <%=data.end_time %></h5>
        <p class="card-text">Date: <%= data.lecture_date %></p>
        <% src = 'http://localhost:4000/f-dashboard/attendence/' + data.lecture_id %> 
        <a href="<%= src %>" class="btn" >Attendence Record</a>
        <a class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Set occur</a>
      </div>
    </div>
    </div>
<% }) %>

<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-head  er">
        <h2 class="text-center"> Set you lecture occurence</h2>
      </div>
      <div class="modal-body">
        <form method="post" id="occurform" action="/f-dashboard/set-occur">
          <label for="occurence" class="mt-2">Set occurence according to you lecture duration</label>
          <input
            type="number"
            class="form-control"
            name="occur"
            placeholder="Enter your occurence number"
          />
          <button class="btn btn-primary" type="submit" >Set occurence</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
function makeid(length) {
    var result = '';
    var characters =
      'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
  }

  function getId() {
      var id = makeid(6);
      var dispele = document.getElementById('lecture_id');
      dispele.value = id;
  }

</script>
